# Editor-specific
.idea/
*.sublime-project
*.sublime-workspace
.settings
.vscode

# Installed libs
node_modules/
typings/

# Generated
dist/cjs/
dist/esm5/
dist/esm5_for_rollup/
dist/esm2015/
dist/global/
dist/src/
dist/typings/
tmp/
coverage/
img/
spec-js/
.nyc_output/

# Misc
npm-debug.log
.DS_STORE
